.input_text {
    padding: 20px 0;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.input_text > input {
    padding: 0 15px;
}

.input_text > button {
    padding: 0 15px;
    cursor: pointer;
}